# Ignore any __pycache__ directories
__pycache__/
# Ignore all .pyc files
*.pyc
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore all .ipynb files
*.ipynb

# Pytest cache files
__pycache__/

# Credentials
backend/credentials.yaml

# .log files
*.log